<!--
  Generated template for the BookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>book</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	  <ion-list>
  	<ion-item>
  		<ion-label floating>Account</ion-label>
  		<ion-input type="text" [(ngModel)]="bookData.account" name="account"></ion-input>
  	</ion-item>

    <ion-item>
      <ion-label floating>Seat No</ion-label>
      <ion-select [(ngModel)]="bookData.seatno" name="seatno">
        <ion-option *ngFor="let seat of seats" value="{{seat}}">{{seat}}</ion-option>
      </ion-select>
    </ion-item>

  	<ion-item>
      <ion-label floating>Time</ion-label>
      <ion-select [(ngModel)]="bookData.time" name="seatno">
        <ion-option value="15:30">15:30</ion-option>
         <ion-option value="18:30">18:30</ion-option>
          <ion-option value="20:30">20:30</ion-option>


      </ion-select>
    </ion-item>

  	<div padding style="padding-left: 70%;">
  	<button ion-button color="dark" (click)="book()">Book
  		
  	</button></div>
  </ion-list>
	
	<!--  <ion-card *ngFor="let movie of movie">

    <img src="http://localhost:8888/testing/century/{{movie.img}}" height="200px" />

    <ion-card-content>
      <ion-card-title>
        {{movie.name}} 
      </ion-card-title>
      <p>
        {{movie.story}}      </p>
    </ion-card-content>

    <ion-row no-padding>
     <!-- <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Trailer
        </button>
      </ion-col>--
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start (click)="Book(movie.mid)">
         <!-- <ion-icon name='musical-notes'></ion-icon>--
          Book
        </button>
      </ion-col>
         </ion-row>--

  </ion-card>-->

</ion-content>
